In [173]:
# load dataset
import pandas as pd
data= pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Loan_Data/loan_train.csv")

In [174]:
# Basic EDA
data.head(10)

   Unnamed: 0   Loan_ID  Gender  ... Credit_History Property_Area Loan_Status
0           0  LP002305  Female  ...            1.0     Semiurban           1
1           1  LP001715    Male  ...            1.0         Rural           1
2           2  LP002086  Female  ...            1.0         Urban           0
3           3  LP001136    Male  ...            1.0         Urban           1
4           4  LP002529    Male  ...            1.0     Semiurban           1
5           5  LP001603    Male  ...            1.0     Semiurban           0
6           6  LP001273    Male  ...            NaN     Semiurban           0
7           7  LP002706    Male  ...            0.0     Semiurban           1
8           8  LP001859    Male  ...            1.0         Rural           0
9           9  LP001228    Male  ...            0.0         Urban           0

[10 rows x 14 columns]

In [175]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491 entries, 0 to 490
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         491 non-null    int64
 1   Loan_ID            491 non-null    object
 2   Gender             481 non-null    object
 3   Married            490 non-null    object
 4   Dependents         482 non-null    object
 5   Education          491 non-null    object
 6   Self_Employed      462 non-null    object
 7   ApplicantIncome    491 non-null    int64
 8   CoapplicantIncome  491 non-null    float64
 9   LoanAmount         475 non-null    float64
 10  Loan_Amount_Term   478 non-null    float64
 11  Credit_History     448 non-null    float64
 12  Property_Area      491 non-null    object
 13  Loan_Status        491 non-null    int64
dtypes: float64(4), int64(3), object(7)
memory usage: 53.8+ KB

In [176]:
data.isnull().sum()

Unnamed: 0            0
Loan_ID               0
Gender               10
Married               1
Dependents            9
Education             0
Self_Employed        29
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           16
Loan_Amount_Term     13
Credit_History       43
Property_Area         0
Loan_Status           0
dtype: int64

In [177]:
data['Loan_Status'].value_counts()

1    343
0    148
Name: Loan_Status, dtype: int64

In [178]:
# Missing values Treatment numerical data
import numpy as np
from sklearn.impute import SimpleImputer

mean_imputer = SimpleImputer(missing_values=np.nan,strategy="mean")
mean_imputer_CH = mean_imputer.fit(data[['Credit_History']])
mean_imputer_LAT = mean_imputer.fit(data[['Loan_Amount_Term']])
mean_imputer_LMT = mean_imputer.fit(data[['LoanAmount']])

data['Credit_History']=mean_imputer_CH.transform(data[['Credit_History']]).ravel()
data['Loan_Amount_Term']=mean_imputer_LAT.transform(data[['Loan_Amount_Term']]).ravel()
data['LoanAmount']=mean_imputer_LMT.transform(data[['LoanAmount']]).ravel()

In [179]:
data.head(5)

   Unnamed: 0   Loan_ID  Gender  ... Credit_History Property_Area Loan_Status
0           0  LP002305  Female  ...            1.0     Semiurban           1
1           1  LP001715    Male  ...            1.0         Rural           1
2           2  LP002086  Female  ...            1.0         Urban           0
3           3  LP001136    Male  ...            1.0         Urban           1
4           4  LP002529    Male  ...            1.0     Semiurban           1

[5 rows x 14 columns]

In [180]:
data.isnull().sum()

Unnamed: 0            0
Loan_ID               0
Gender               10
Married               1
Dependents            9
Education             0
Self_Employed        29
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [181]:
# Missing values Treatment categorical data
mean_imputer = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
mean_imputer_SE = mean_imputer.fit(data[['Self_Employed']])
mean_imputer_GEN = mean_imputer.fit(data[['Gender']])

data['Self_Employed']=mean_imputer_SE.transform(data[['Self_Employed']]).ravel()
data['Gender']=mean_imputer_GEN.transform(data[['Gender']]).ravel()

In [182]:
#drop unwanted columns

data.drop(['Unnamed: 0','Loan_ID','Married','Gender','Loan_Amount_Term'],axis=1,inplace=True)

data.dropna(axis=0,inplace=True)

In [196]:
data2=data.copy()

In [197]:
data2['Dependents'].unique()

array(['0', '3+', '2', '1'], dtype=object)

In [198]:
# change data['Dependents']= 3+ as 3

data2['Dependents']= data2['Dependents'].apply(lambda x: int(3) if x== str("3+") else int(x) )

In [199]:
data2.isnull().sum()

Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [201]:
#remove male in self employed column
data2.Self_Employed.value_counts()

data2['Self_Employed']=data2['Self_Employed'].apply(lambda x: str('No') if x==str('Male') else x)
data2.Self_Employed.value_counts()

No     419
Yes     63
Name: Self_Employed, dtype: int64

In [203]:
#remove other value in Credit_History
data2.Credit_History.value_counts()
data2['Credit_History']=data2['Credit_History'].apply(lambda x: float(1) if (x!=1 and x!=0) else x)
data2.Credit_History.value_counts()

1.0    418
0.0     64
Name: Credit_History, dtype: int64

In [204]:
# one not Encoding

data2=pd.get_dummies(data2,columns=['Property_Area','Education','Self_Employed'])

In [205]:
data2.head()

   Dependents  ApplicantIncome  ...  Self_Employed_No  Self_Employed_Yes
0           0             4547  ...                 1                  0
1           3             5703  ...                 0                  1
2           0             4333  ...                 1                  0
3           0             4695  ...                 0                  1
4           2             6700  ...                 1                  0

[5 rows x 13 columns]

In [206]:
# data split
x= data2.drop('Loan_Status',axis=1)
y=data2['Loan_Status']

In [207]:
y

0      1
1      1
2      0
3      1
4      1
      ..
486    1
487    1
488    1
489    0
490    1
Name: Loan_Status, Length: 482, dtype: int64

In [208]:
# handling data imbalance
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state = 25, sampling_strategy = 1.0)

x_train,y_train = sm.fit_sample(x,y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [210]:
# model training

from sklearn.tree import DecisionTreeClassifier

tree= DecisionTreeClassifier(max_depth=3)

tree.fit(x,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [211]:
print(data2.columns)
print(data_test.columns)

Index(['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Credit_History', 'Loan_Status', 'Property_Area_Rural',
       'Property_Area_Semiurban', 'Property_Area_Urban', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes'],
      dtype='object')
Index(['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Credit_History', 'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban', 'Education_Graduate', 'Education_Not Graduate',
       'Self_Employed_No', 'Self_Employed_Yes'],
      dtype='object')

In [212]:
# Load test data
data_test= pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Loan_Data/loan_test.csv')

In [213]:
data_test.isnull().sum()

Loan_ID              0
Gender               3
Married              2
Dependents           6
Education            0
Self_Employed        3
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           6
Loan_Amount_Term     1
Credit_History       7
Property_Area        0
dtype: int64

In [214]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            123 non-null    object
 1   Gender             120 non-null    object
 2   Married            121 non-null    object
 3   Dependents         117 non-null    object
 4   Education          123 non-null    object
 5   Self_Employed      120 non-null    object
 6   ApplicantIncome    123 non-null    int64
 7   CoapplicantIncome  123 non-null    float64
 8   LoanAmount         117 non-null    float64
 9   Loan_Amount_Term   122 non-null    float64
 10  Credit_History     116 non-null    float64
 11  Property_Area      123 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 11.7+ KB

In [215]:
# Missing values Treatment categorical data
mean_imputer = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
mean_imputer_SE = mean_imputer.fit(data_test[['Self_Employed']])
mean_imputer_DEP = mean_imputer.fit(data_test[['Dependents']])
mean_imputer_GEN = mean_imputer.fit(data_test[['Gender']])
mean_imputer_MAR = mean_imputer.fit(data_test[['Married']])

data_test['Self_Employed']=mean_imputer_SE.transform(data_test[['Self_Employed']]).ravel()
data_test['Dependents']=mean_imputer_DEP.transform(data_test[['Dependents']]).ravel()
data_test['Gender']=mean_imputer_GEN.transform(data_test[['Gender']]).ravel()
data_test['Married']=mean_imputer_MAR.transform(data_test[['Married']]).ravel()

In [216]:
# Missing values Treatment numerical data
import numpy as np
from sklearn.impute import SimpleImputer

mean_imputer = SimpleImputer(missing_values=np.nan,strategy="mean")
mean_imputer_CH = mean_imputer.fit(data_test[['Credit_History']])
mean_imputer_LAT = mean_imputer.fit(data_test[['Loan_Amount_Term']])
mean_imputer_LMT = mean_imputer.fit(data_test[['LoanAmount']])

data_test['Credit_History']=mean_imputer_CH.transform(data_test[['Credit_History']]).ravel()
data_test['Loan_Amount_Term']=mean_imputer_LAT.transform(data_test[['Loan_Amount_Term']]).ravel()
data_test['LoanAmount']=mean_imputer_LMT.transform(data_test[['LoanAmount']]).ravel()

In [217]:
#drop unwanted columns

data_test.drop(['Loan_ID','Married','Gender','Loan_Amount_Term'],axis=1,inplace=True)

In [218]:
data_test['Dependents'].value_counts()

0      69
2      23
1      17
3+      8
Yes     6
Name: Dependents, dtype: int64

In [219]:
# one not Encoding

data_test=pd.get_dummies(data_test,columns=['Property_Area','Education','Self_Employed'])

In [220]:
data_test.head(3)

  Dependents  ApplicantIncome  ...  Self_Employed_No  Self_Employed_Yes
0          0             3748  ...                 1                  0
1         3+             4000  ...                 1                  0
2          0             2625  ...                 1                  0

[3 rows x 12 columns]

In [221]:
data_test['Dependents'].unique()

array(['0', '3+', '2', '1', 'Yes'], dtype=object)

In [222]:
# change data['Dependents']= 3+ as 3

data_test['Dependents']= data_test['Dependents'].apply(lambda x: int(2) if x== str("Yes") else str(x) )
data_test['Dependents']= data_test['Dependents'].apply(lambda x: int(3) if x== str("3+") else int(x) )

In [223]:
# Prediction
output=tree.predict(data_test)

In [224]:
#create output csv file

frame=pd.DataFrame()
frame['prediction']=output
frame.to_csv("predictions.csv",index=False)

In [225]:
# save model
import joblib

joblib.dump(tree,"model.pkl")

['model.pkl']

In [226]:
# save features names

import json

features={
    'data_columns':[col.lower() for col in data_test.columns]
}

with open('names.json','w') as f:
  f.write(json.dumps(features))